body, div, span, img, li, ul, input, label, h1{
    margin:0px;
    padding:0px;
}
:root{
    --bg-color:#cafafe;
    --txt-color1:white;
    --items-color:#97caef;
}
div{
    /*border: solid black;*/
    
}
body{
    background-color:var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#wrapper{
    width:80%;
    margin: auto;
    margin-top: 20px;
}
#wrapper #header{
    text-align: center;
    background-color: var(--items-color);
    margin-bottom: 5px;
    border-radius: 10px;
}
#wrapper #header h1{
    
    font-size: 90px;
    color: var(--txt-color1);
}
#wrapper #main{
    display: flex;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--items-color);
}
#wrapper #main #container{
    width:80%;
}
#wrapper #main #container #control{
    color:var(--txt-color1);
    padding: 10px;
    text-align: center;
}
#wrapper #main #container #view{
    min-height: 50vh;
    background-color: ghostwhite;
    padding: 10px 5%;
}
#wrapper #main #sidebar{
    background-color: var(--items-color);
    width: 20%;
    border-radius: 10px;
}
#wrapper #main #container #view .todoContainer, #wrapper #main #container #view #thead{
    display: grid;
    grid-template-columns: 5% auto 5% 10% 10%;
    transition: ease-in-out 200ms;
    position: relative;
    padding: 5px;
    background-color: ghostwhite;
}
#wrapper #main #container #view #thead div{
    font-size: 8px;
    text-align: center;
}

#wrapper #main #container #view .todoContainer .todoCreatedAt{
    font-size: 0.5em;
    text-align: center;
}
#wrapper #main #container #view .todoContainer .priority{
   text-align: center;
}
#wrapper #main #container #view .todoContainer .more{
    position: absolute;
    right:-5px;
    padding:5px;
}
#wrapper #main #container #view .todoContainer .menu{
    position:absolute;
    overflow: hidden;
    right:0px;
    transition:ease-in-out 200ms;
    max-width: 0px;
    white-space: nowrap;
}
#wrapper #main #container #view .todoContainer .menu button{
    font-size: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height:25px;
}
#wrapper #main #container #view .todoContainer .menu .delete{
    background-color: red;
    color:white;
}
#wrapper #main #container #view .todoContainer .menu .edit{
    background-color: var(--items-color);
    color: var(--txt-color1);
}

